@use "@angular/material" as mat;

h1 {
  color: var(--deep-plum);
  font-size: 3rem;
  line-height: 1.4;
  font-weight: var(--font-regular);
  text-align: center;
}

.hero__background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 1;
  opacity: 0.9;

  &.first-slide-bg {
    background-image: url("/images/close-up-plastic-bottle-with-oil-rosemary.webp");
  }

  &.second-slide-bg {
    height: 94%;
    background-image: url("/images/portrait-hairy-spitz-looking-up-white-background.webp");
  }
}

.hero {
  width: 100%;
  height: calc(100svh - var(--header-height));

  &__content {
    position: relative;
    z-index: 3;
    height: fit-content;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      180deg,
      var(--pale-lilac) 70%,
      rgba(255, 255, 255, 0.01)
    );
  }

  &__description,
  &__discount {
    text-align: center;
  }

  &__description {
    color: var(--shadow-plum);
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
  }

  &__discount {
    color: var(--vibrant-rose);
    font-size: 1.7rem;
    font-weight: var(--font-bold);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    row-gap: 2rem;
  }
}

button {
  min-width: 17rem;
}

button:nth-child(1) {
  border: 2px solid var(--deep-plum);

  @include mat.button-overrides(
    (
      filled-container-color: transparent,
      filled-label-text-color: var(--deep-plum),
    )
  );
}

swiper {
  &-container {
    width: 100%;
    height: 100%;
    position: relative;
    --swiper-theme-color: var(--vibrant-rose);
  }
  &-slide {
    background-size: cover;
    background-repeat: no-repeat;

    &.initializing {
      visibility: hidden;
    }
  }
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0 !important;
}

/* For large devices */
@media (min-width: 1024px) {
  h1 {
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 5rem;
  }

  .hero__background {
    background-position: bottom right;
    
    &.first-slide-bg {
      background-image: url("/images/uleiuri-esentiale-1-scaled.webp");
    }
    &.second-slide-bg {
      height: 100%;
      background-image: url("/images/sideways-cute-small-dog.webp");
    }
  }

  .hero {
    &__content {
      max-width: 45vw;
      height: 100%;
      justify-content: center;
      background: linear-gradient(
      90deg,
      var(--pale-lilac) 30%,
      rgba(255, 255, 255, 0.01)
    );
    }

    &__description {
      font-size: 2.2rem;
    }

    &__discount {
      font-size: 2.5rem;
      margin: 3rem 0;
    }

    &__buttons {
      flex-direction: row;
      column-gap: 2rem;

      @include mat.button-overrides(
        (
          filled-label-text-weight: 500,
          filled-container-height: 50px,
        )
      );
    }
  }
}

/* Bigger nav */
@media (min-width: 1280px) {
  .hero {
    height: calc(100svh - var(--header-height) - 3.2rem);
  }
}
