.login {
  &__wrapper {
    padding: 0 2rem;
  }

  &__container {
     max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid var(--pale-lilac-darker);
    border-radius: 0.8rem;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--deep-plum);
  }

  &__submit {
    width: 100%;
    margin: 2rem 0;

    &__label {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}