:root{
   --header-height: 8rem;

   /*========== Colors ==========*/
   /* Backgrounds */
  --pastel-lavender: #D9C2DE; /* base for backgrounds */
  --pure-white: #FFFFFF; /* primary background or light text */
  --pale-lilac: #F8F1FA; /* secondary background */

  /* Accents */
  --deep-plum: #633A6E; /* main accent, for text - inactive state */
  --muted-plum: #A67BBF; /* for text or hover effects */
  --rich-burgundy: #6D1241; /* for text - active state */
  --warm-mauve: #A63F6E; /* for text - hover state */
  --vibrant-rose: #DE3B8E;
  --soft-rose: #E45EA0; /* for hover effects or buttons */
  --dark-slate: #2A1E33; /* text or strong accents */
  --shadow-plum: #4A3A55; /* for shadows or borders */

   /*========== Font and typography ==========*/
   --body-font: 'Open Sans', sans-serif;
   --navigation-font: 'Montserrat', sans-serif;
   --button-title-font: 'Poppins', sans-serif;
   --normal-font-size: 1.5rem;

	/*========== Font weight ==========*/
   --font-regular: 400;
   --font-semi-bold: 600;
   --font-bold: 700;

	/*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
}