.about-simona {
  background-color: var(--pure-white);
}

.container {
  padding: 4rem 2rem 0;
}

.text-content {
  text-align: center;
}

h2 {
  color: var(--deep-plum);
  margin-bottom: 1rem;
}

p {
  color: var(--shadow-plum);
  font-style: italic;
}

.image-content {
  display: flex;
  justify-content: center;
}

.simona-image {
  max-width: 100%;
}

@media (min-width: 425px) {
  .simona-image {
    max-width: 43rem;
  }
}

/* For large devices */
@media (min-width: 1024px) {
  .container {
    display: flex;
    padding-top: 0;
    padding-top: 8rem;
  }

  .text-content {
    order: 2;
    margin-top: 1rem;
  }

  h2 {
    font-size: 3rem;
    margin: 3rem 0 2rem;
  }
}